* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    /* background-color: #1e1e1e; */
    background-color: #e9ecef;
}


/* chrome-specific css */
@supports (-webkit-appearance:none) {
    nav {
        margin: 0em 0em 0em 17.75em;
    }
    .blank {
        height: 193px;
    }
    .h2 {
        margin: 5.5em 0em 0em 19.5em;
    }
}

/* firefox-specific css */
@-moz-document url-prefix() {
    nav {
        margin: 0em 0em 0em 21.5em;
    }
    .blank {
        height: 170px;
    }
    .h2 {
        margin: 5.5em 0em 0em 22.5em;
    }
}

/* desktop-specific css */
@media screen and (min-width: 1185px) {

     body {
        /* margin-top: 2em; */
        text-align: center;
        background-image:
            url("../assets/circuit_board_vector.svg");
            height: 100%;
            /* background-attachment: fixed; */
            /* background-repeat: no-repeat; */
    }

   #margin {
        border-right: 3px solid #d8c586;
        border-left: 3px solid #d8c586;
        border-radius: 5px;
        width: 1185px;
        margin: 0 auto;
        overflow: hidden;
    }

    .blank {
        position: fixed;
        background-color: #e9ecef;
        margin: -1em 0em 0em 0em;
        width: 1185px;
    }

    .blankborder {
        position: fixed;
        background-color: #87651d;
        margin: 13em 0em 0em 5em;
        width: 1075px;
        height: 4px;
        border: 1px solid #87651d;
        border-radius: 10px 10px 0px 0px;

    }

    #margin-left {
        float: left;
        width: 50%;
    }

    #margin-right {
        float: right;
        width: 50%;
    }

    nav {
        position: fixed;
        background-color: #87651d;
        display: block;
        align-content: center;
        justify-item: center;
        padding: 0.25em 2em 0.25em 5em;
        border: 1px solid #87651d;
        border-radius: 2px 2px 9px 9px;
    }

    .navlink {
        background-color: #87651d;
        color: white;
        text-decoration: none;
        font-size: 125%;
        font-weight: 900;
        padding: 0 2em 0 2em;
    }

    img {
        postition: fixed;
        margin: 0em 0em 0em -5em;
        width: 65%;
    }

    .h1 {
        position: fixed;
        display: inline;
        font-size: 300%;
        text-decoration: none;
        font-weight: 900;
        height: 10px;
        margin: 1.25em 0em 0em 1.5em;
        /* color: #e0b24d; */
        color: #87651d;
    }

    .h2 {
        position: fixed;
        text-decoration: none;
        font-size: 150%;
        font-weight: 900;
        /* margin: 5.5em 0em 0em 22.5em; */
        /* color: #e0b24d; */
        color: #87651d;
    }

    ul {
        list-style-type: none;
        margin: 18em 0 0 0;
    }

    li {
        font-size: 150%;
        text-align: left;
        font-weight: 900;
        margin: 0.5em 5em 1em 5em;
        padding: 0.25em 0.25em 0.25em 0.25em;
        color: #87651d;
    }

    .artsnip {
        font-size: 135%;
        text-align: left;
        font-weight: 500;
        margin: -0.75em 8em 1.45em 7em;
        padding: 0em 0m 0em 0em;
        color: #87651d;
    }

    .articleLink {
        text-decoration: none;
        background-color: #87651d;
        font-size: 85%;
        border: 4px solid #87651d;
        padding: 0em 0.25em 0em 0.25em;
        border-radius: 8px 8px 0px 0px;
        color: white;
    }

    #lidecoration {
        background-color: #87651d;
        margin: 0em 0em -1.5em 6em;
        width: 790px;
        height: 3px;
        border: 1px solid #87651d;
        border-radius: 0px 5px 0px 5px;

    }

    .snippet {
        margin: 1em 17em 1em 17em;
        padding: 0.5em 1em 0.5em 1em;
    }

    footer {
        margin: 0em 0em 0em 0em;
    }

    #contact {
        margin: 0em 1em 10em 0em;
        padding: 0em 1em 1em 1em;
        background-color: #87651d;
        color: #e9ecef;
        font-size: 125%;
        font-weight: 900;
        border: 1px solid #87651d;
        border-radius: 8px 8px 2px 2px;
        text-align: center;
        /* color: #e0b24d; */
        text-decoration: none;
    }
}

/* tiny phone css */
@media screen and (max-width: 677px) {

     body {
        /* margin-top: 2em; */
        text-align: center;
        background-image:
            url("../assets/circuit_board_vector.svg");
            height: 100%;
            /* background-attachment: fixed; */
            /* background-repeat: no-repeat; */
        background-size: 30%;
    }


    #margin {
        /* border-right: 3px solid #d8c586; */
        /* border-left: 3px solid #d8c586; */
        border-radius: 5px;
        width: 375px;
        margin: 0 auto;
        overflow: hidden;
    }

    .blank {
        position: fixed;
        background-color: #e9ecef;
        margin: -1em 0em 0em 0em;
        height: 110px;
        width: 385px;
    }

    .blankborder {
        position: fixed;
        background-color: #87651d;
        margin: 8em 0em 0em 0em;
        width: 385px;
        height: 2px;
        border: 1px solid #87651d;
        border-radius: 10px 10px 0px 0px;

    }

    #margin-left {
        float: left;
        width: 50%;
    }

    #margin-right {
        float: right;
        width: 50%;
    }

    nav {
        position: fixed;
        background-color: #87651d;
        /* iphone */
        margin: 0em 0em 0em 1em;
        padding: 0em 0em 0em 0em;
        border: 1px solid #87651d;
        border-radius: 2px 2px 9px 9px;
    }

    .navlink {
        /* display: none; */
        background-color: #87651d;
        color: white;
        text-decoration: none;
        /* font-size: 125%; */
        /* iphone */
        font-size: 110%;
        font-weight: 900;
        margin: 0em 0.5em 0em 0.5em;
        padding: 0em 0em 0em 0em;
    }

    img {
        postition: fixed;
        margin: 1em 0em 0em -2.5em;
        /* width: 30%; */
        /* iphone */
        width: 50%;
    }

    .h1 {
        position: fixed;
        display: inline;
        font-size: 200%;
        text-decoration: none;
        font-weight: 900;
        height: 10px;
        /* iphone */
        margin: -1.75em 0em 0em -2.5em;
        /* color: #e0b24d; */
        color: #87651d;
    }

    .h2 {
        position: fixed;
        text-decoration: none;
        font-size: 110%;
        font-weight: 900;
        margin: 5em 0em 0em 4.5em;
        /* color: #e0b24d; */
        color: #87651d;
    }

    ul {
        list-style-type: none;
        margin: 11em 0 0 0;
    }

    li {
        font-size: 150%;
        text-align: left;
        font-weight: 900;
        margin: 1em 0em 0em 0em;
        padding: 1em 0em 0em 1em;
        color: #87651d;
    }

    .artsnip {
        /* display: none; */
        font-size: 100%;
        text-align: left;
        font-weight: 500;
        font-size: 120%;
        margin: 0.5em 0em 0em 3em;
        padding: 0em 0m 0em 0em;
        color: #87651d;
    }

    .articleLink {
        text-decoration: none;
        background-color: #87651d;
        font-size: 85%;
        border: 4px solid #87651d;
        margin: 0em 0em 0em 0em;
        padding: 0em 0.25em 0em 0.25em;
        border-radius: 6px 6px 0px 0px;
        color: white;
    }

    #lidecoration {
        background-color: #87651d;
        margin: 0em 0em -1.45em 6em;
        width: 230px;
        height: 1px;
        border: 1px solid #87651d;
        border-radius: 0px 5px 0px 5px;

    }

    .snippet {
        margin: 3em 1em 0em 1em;
        /* padding: 0.5em 1em 0.5em 1em; */
    }

    footer {
        margin: 0em 0em 0em 0em;
    }

    #contact {
        margin: 0em 0em 0em 0em;
        padding: 0em 1em 1em 1em;
        background-color: #87651d;
        color: #e9ecef;
        font-size: 125%;
        font-weight: 900;
        border: 1px solid #87651d;
        border-radius: 6px 6px 2px 2px;
        text-align: center;
        /* color: #e0b24d; */
        text-decoration: none;
    }
}

}
