* {
    font-family: monospace;
    /* background-color: #1e1e1e; */
    background-color: #dedede;
}

body {
    text-align: center;
}

h1 {
    font-size: 300%;
    font-weight: 900;
    /* color: #e0b24d; */
    color: #87651d; /*off-black*/
    /* text-decoration: underline; */
}

h2 {
    text-decoration: none;
    font-size: 150%;
    font-weight: 900;
    /* color: #e0b24d; */
    color: #87651d;
}

pre {
    border: 0px solid #252525;
    border-radius: 5px;
    text-align: left;
    background-color: #252525;
    margin: 0em 20em 0em 20em;
    padding: 0.5em 1em 0.5em 1em;
}

code {
    font-family: monospace;
    font-size: 125%;
    font-weight: 500;
    background-color: #252525;
    color: #dddddd;
}

#intro {
    font-size: 135%;
    text-align: left;
    font-weight: 600;
    margin: 2em 8em 2em 8em;
    color: #2f2f2f;
}

#about {
    margin: 0 0 0 0;
    font-size: 115%;
    font-weight: 600;
    text-align: center;
    /* color: #e0b24d; */
    color: #87651d;
}
