* {
    /* background-color: #d8c586; */
    background-color: #e9ecef;
}

body {
    /* media query this to be sure */
    overflow: hidden;
}

img {
    display: block;
    margin: 4.25em auto 0em auto;
}

.circle {
    background-color: #d8c586;
    margin: 5em auto auto auto;
    border: 25px solid #87651d;
    border-radius: 500px;
    width: 675px;
    height: 675px;
}


.node {
    position: relative;
    background-color: #d8c586;
    /* bottom: 300px; */
    /* right: 125px; */
    border: 15px solid #87651d;
    border-radius: 500px;
    width: 50px;
    height: 50px;

}

#node1 {
    bottom: 300px;
    right: 125px;
}

#node2 {
    bottom: 395px;
    left: 720px;
}

#node3 {
    bottom: 150px;
    left: 590px;
}

#node4 {
    bottom: 220px;
    left: 10px;
}

#node5 {
    bottom: 200px;
    left: 300px;
}

.bar {
     position: absolute;
     background: #87651d;
     border: 1px solid #87651d;
     border-radius: 3px;
     width: 5px;
}

#bar1 {
     margin: -57em 0em 0em 5em;
     animation-delay: .2s;
     animation-duration: 3s;
     animation-name:zap1;
     animation-fill-mode: forwards;
}

#bar2 {
    margin: -60em 0em 0em 9em; animation-delay: .2s;
    animation-duration: 1.8s;
    animation-name:zap2;
    animation-fill-mode: forwards;
}

#bar3 {
    margin: -62em 0em 0em 13em;
    animation-delay: .2s;
    animation-duration: 2s;
    animation-name:zap3;
    animation-fill-mode: forwards;
}

#bar4 {
    margin: -61em 0em 0em 10em;
    animation-delay: .2s;
    animation-duration: 2s;
    animation-name:zap4;
    animation-fill-mode: forwards;
}

#bar5 {
    margin: -55em 0em 0em 3em;
    animation-delay: .2s;
    animation-duration: 2s;
    animation-name:zap5;
    animation-fill-mode: forwards;
}

@keyframes zap1  {
     0% {height:0;}
     100% {height:400px;}
}

@keyframes zap2  {
     from { height:0; }
     to { height:50px;}
}

@keyframes zap3  {
    from { height:0; }
    to { height:75px;}
}

@keyframes zap4  {
    from { height:0; }
    to { height:175px;}
}

@keyframes zap5  {
    from { height:0; }
    to { height:175px;}
}

