* {
    font-family: monospace;
    /* background-color: #1e1e1e; */
    background-color: #e9ecef;
}

body {
    /* margin-top: 2em; */
    text-align: center;
    background-image:
        url("../assets/circuit_board_vector.svg");
        height: 100vh;
        background-attachment: fixed;
        /* background-repeat: no-repeat; */
}

@media screen and (min-width: 1185px) {
    #margin {
        border: 3px solid #d8c586;
        border-radius: 5px;
        width: 1185px;
        margin: 0 auto;
        overflow: hidden;
    }

    #margin-left {
        float: left;
        width: 50%;
    }

    #margin-right {
        float: right;
        width: 50%;
    }

    nav {
        background-color: #87651d;
        display: block;
        align-content: center;
        justify-item: center;
        /* width: 50%; */
        margin: 1em 4em 0em 4em;
        padding: 0.25em 0.5em 0.25em 0.5em;
        border: 1px solid #87651d;
        border-radius: 5px;
    }

    .navlink {
        display: inline;
        background-color: #87651d;
        color: white;
        text-decoration: none;
        font-size: 125%;
        font-weight: 900;
        padding: 0 2em 0 2em;
    }

    img {
        margin: 1.5em -1.5em -1em 0;
    }

    h1 {
        display: inline;
        font-size: 300%;
        font-weight: 900; margin: 1em 1.25em -1em 0;
        /* color: #e0b24d; */
        color: #87651d;
    }

    h2 {
        text-decoration: none;
        font-size: 150%;
        font-weight: 900;
        margin: -0.15em 0 0 0;
        /* color: #e0b24d; */
        color: #87651d;
    }

    ul {
        list-style-type: none;
        margin: 0 0 0 0;
    }

    li {
        font-size: 150%;
        text-align: left;
        font-weight: 900;
        margin: 0.5em 5em 1em 5em;
        padding: 0.25em 0.25em 0.25em 0.25em;
        color: #87651d;
        /* border: 1px solid none; [>#87651d;<] */
        /* border-radius: 5px; */
    }

    .artsnip {
        font-size: 150%;
        text-align: left;
        font-weight: 500;
        margin: -0.5em 8em 0em 6em;
        padding: 0em 0m 0em 0em;
        color: #87651d;
    }

    .articleLink {
        text-decoration: none;
        color: #87651d;
        /* color: white; */

    }

    #lidecoration {
        position: absolute;
        right 10px;
        background-color: #87651d;
        margin: 2.5em 0em 0em 17em;
        width: 790px;
        height: 4px;
    }

    .snippet {
        margin: 1em 17em 0em 17em;
        padding: 0.5em 1em 1em 1em;
    }

    footer {
        margin: -3em 0em 1em 0em;

    }

    #contact {
        /* margin: 10em 1em 0em 1em; */
        font-size: 125%;
        font-weight: 900;
        text-align: center;
        /* color: #e0b24d; */
        color: #87651d;
        text-decoration: none;
    }
}
