* {
    /* background-color: #d8c586; */
    background-color: #e9ecef;
}

body {
    /* media query this to be sure */
    overflow: hidden;
}

img {
    display: block;
    margin: 4.25em auto 0em auto;
}

.circle {
    background-color: #d8c586;
    margin: 5em auto auto auto;
    border: 25px solid #87651d;
    border-radius: 500px;
    width: 675px;
    height: 675px;
}

.node {
    position: relative;
    background-color: #d8c586;
    border: 15px solid #87651d;
    border-radius: 500px;
    width: 50px;
    height: 50px;
    animation: fadeBackground 4s;
    animation-fill-mode: forwards;
}

#node1 {
    bottom: 300px;
    right: 125px;
}

#node2 {
    bottom: 395px;
    left: 720px;
}

#node3 {
    bottom: 150px;
    left: 590px;
}

#node4 {
    bottom: 220px;
    left: 10px;
}

#node5 {
    bottom: 200px;
    left: 300px;
}

.bar {
     position: absolute;
     background: #87651d;
     border: 1px solid #87651d;
     border-radius: 3px;
     width: 5px;
}

#bar1 {
     margin: -57em 0em 0em 5em;
     width: 7px;
     animation-delay: .2s;
    animation: zap1 2s, fadeBackground 4s;
     animation-fill-mode: forwards;
}

#bar2 {
    width: 8px;
    margin: -64em 0em 0em 18em;
    animation-delay: .2s;
    animation: zap2 1.8s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar3 {
    width: 4px;
    margin: -62em 0em 0em 13em;
    animation-delay: .2s;
    animation: zap3 2s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar4 {
    width: 6px;
    margin: -61em 0em 0em 10em;
    animation-delay: .2s;
    animation: zap4 2s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar5 {
    width: 9px;
    margin: -55em 0em 0em 3em;
    animation-delay: .2s;
    animation: zap5 2s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar6 {
    width: 3px;
    margin: -60em 0em 0em 33em;
    animation-delay: .2s;
    animation: zap6 2s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar7 {
    width: 10px;
    border-radius: 3px 3px 3px 20px;
    margin: -55em 0em 0em 38em;
    animation-delay: .2s;
    animation: zap7 3.5s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar8 {
    width: 3px;
    margin: -58em 0em 0em 36em;
    animation-delay: .2s;
    animation: zap8 1.8s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar9 {
    width: 14px;
    border-radius: 5px 5px 25px 5px;
    margin: -60em 0em 0em 9em;
    animation-delay: .2s;
    animation: zap9 1.8s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar10 {
    width: 12px;
    border-radius: 5px 5px 5px 25px;
    margin: -63em 0eh 0em 25em;
    animation-delay: .2s;
    animation: zap10 1.8s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar11 {
    width: 7px;
    border-radius: 5px 5px 5px 15px;
    margin: -63em 0em 0em 27em;
    animation-delay: .2s;
    animation: zap11 2s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

#bar12 {
    width: 4px;
    border-radius: 5px 5px 25px 5px;
    margin: -64em 0em 0em 17em;
    animation-delay: .2s;
    animation: zap12 1.8s, fadeBackground 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeBackground {
    from { opacity: 0%;}
    to { opacity: 100%;}

}

@keyframes zap1  {
     0% {height:0;}
     100% {height:400px;}
}

@keyframes zap2  {
     from { height:0; }
     to { height:150px;}
}

@keyframes zap3  {
    from { height:0; }
    to { height:75px;}
}

@keyframes zap4  {
    from { height:0; }
    to { height:175px;}
}

@keyframes zap5  {
    from { height:0; }
    to { height:175px;}
}

@keyframes zap6  {
    from { height:0; }
    to { height:185px;}
}

@keyframes zap7  {
    from { height:0; }
    to { height:380px;}
}

@keyframes zap8  {
     from { height:0; }
     to { height:50px;}
}

@keyframes zap9  {
     from { height:0; }
     to { height:50px;}
}

@keyframes zap10  {
     from { height:0; }
     to { height:50px;}
}

@keyframes zap11  {
     from { height:0; }
     to { height:90px;}
}

@keyframes zap12  {
     from { height:0; }
     to { height:60px;}
}

