/* stytling for actual content of article
 * consider changing based off of chromium/mozilla */

@font-face {
    font-family: LiberationMono; src: url('./fonts/LiberationMono-Bold.ttf');
}

@font-face {
    font-family: HussarBold;
    src: url('./fonts/HussarBold-7mRE.otf');
}

.article-header {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 44, 70, 1);
    font-family: HussarBold;
    font-size: 24px;
    text-align: center;
    width: 80vw;
    margin: 0.5rem auto;
    padding: 0.5rem 0.25rem 0rem 0rem;
    border: 1px solid rgba(0, 44, 70, 1);
    border-radius: 7px 7px 2px 2px;
}

.header3-content {
    width: 90vw;
    text-align: center;
    font-family: HussarBold;
    font-size: 16px;
    color: rgba(0, 44, 70, 1);
    margin: 0.5rem 0.5rem -1rem 0.5rem;
}

.article-content {
    font-family: LiberationMono;
    font-size: 16px;
    color: rgba(0, 44, 70, 1);
    margin: 1rem 0.5rem;
}

.directories {
    font-family: LiberationMono;
    font-size: 16px;
    color: rgba(0, 44, 70, 1);
    margin: 1.25rem 0.5rem;
}

.portfolio {
    margin-top: 3rem;
}

.directories:hover {
    cursor: pointer;
}

.article-links {
    list-style: none;
    margin: 1rem auto auto -2.5rem;
}

.link-item {
    color: rgba(0, 44, 70, 1);
    background-color: rgba(255, 255, 255, 1);
    opacity: 95%;
    font-weight: 900;
    font-size: 17px;
    width: 60vw;
    padding-top: 0.1rem;
    padding-left: 1rem;
    border: 3px solid rgba(0, 44, 70, 1);
    border-radius: 5px 5px 0px 0px;
    border-top: none;
    border-right: none;
}


.link-item-extension {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    width: 26vw;
    height: 0.85em;
    margin: -0.75rem 0 0 58.75vw;
    border-radius: 4px 4px 0 0;
}

.folder-extension {
    position: absolute;
    background-color: rgba(0, 44, 70, 1);
    width: 26vw;
    height: 1px;
    margin: -0rem 0 0 58.5vw;
    border: 1px solid rgba(0, 44, 70, 1);
    border-radius: 0px 0px 3px 3px;
}

.portfolio-tree-vert {
    position: relative;
    background-color : rgba(0, 44, 70, 1);
    width: 0.20rem;
    margin: 0rem 0 0rem 0.25rem;
}

.portfolio-tree-vert-show {
    animation: show-vert-tree 1s ease-in-out;
    visibility: visible;
    height: 7.25rem;
}

@keyframes show-vert-tree {
    from {
        height: 0;
        visibility: hidden;
    }
    to {
        height: 7.25rem;
        visibility: visible;
    }
}

.portfolio-tree-vert-hidden {
    animation: hide-vert-tree 1s ease-in-out;
    visibility: hidden;
    height: 0;
}

@keyframes hide-vert-tree {
    from {
        height: 7.25rem;
        visibility: hidden;
    }
    to {
        height: 0;
        visibility: visible;
    }
}

.portfolio-tree-horiz  {
    position: absolute;
    background-color : rgba(0, 44, 70, 1);
    visibility: hidden;
    width: 0rem;
    height: 0.15rem;
}

.portfolio-tree-horiz-show {
    opacity: 100%;
    width: 1rem;
    visibility: visible;
    animation: show-horiz-tree 1s ease-in-out;
}

@keyframes show-horiz-tree {
    from { width: 0; visibility: hidden; opacity: 0%; }
    to { width: 1rem; visibility: visible; opacity: 100%;}
}

.portfolio-tree-horiz-hidden {
    opacity: 0%;
    width: 0;
    visibility: hidden;
    animation: hide-horiz-tree 1s ease-in-out;
}

@keyframes hide-horiz-tree {
    from { width: 1rem; visibility: visible; opacity: 100%;}
    to { width: 0; visibility: hidden; opacity: 0%; }
}

.portfolio-tree-subject {
    position: absolute;
    color: rgba(0, 44, 70, 1);
    text-decoration: none;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 1);
    opacity: 95%;
    border: 3px solid rgba(0, 44, 70, 1);
    border-radius: 5px;
    border-right: none;
    border-top: none;
    width: auto;
    padding: 0.1rem 0 0 0.3rem;
    white-space: nowrap;
}

.portfolio-tree-subject-show {
    opacity: 95%;
    animation: portfolio-subject-show 1s ease-in-out;
}

@keyframes portfolio-subject-show {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 95%;
    }
}

.portfolio-tree-subject-hidden {
    opacity: 0%;
    animation: portfolio-subject-hidden 1s ease-in-out;
}

@keyframes portfolio-subject-hidden {
    0% {
        opacity: 95%;
    }
    100% {
        opacity: 0%;
    }
}

.portfolio-tree-show {
    visibility: visibile;
    margin-bottom: 2rem;
    height: auto;
}

.portfolio-tree-hidden {
    visibility: hidden;
    height: 0;
}

#portfolio-subject-1 {
    margin: -.5rem 0rem 0rem 1.1rem;
}

#portfolio-hbar-1 {
    margin: -6.25rem 0 0 0.25rem;
}

#portfolio-subject-2{
    margin: -0.5rem 0rem 0rem 1.1rem;
}

#portfolio-hbar-2 {
    margin: -4.25rem 0rem 0rem 0.25rem;
}

#portfolio-subject-3 {
    margin: -0.5rem 0rem 0rem 1.1rem;
}

#portfolio-hbar-3 {
    margin: -2.25rem 0rem 0rem 0.3rem;
}

#portfolio-subject-4 {
    margin: -0.5rem 0rem 0rem 1.1rem;
}

#portfolio-hbar-4 {
    margin: -0rem 0rem 0rem 0.25rem;
}

.tree-subject:hover {
    transform: scale(1.03);
}

