/* stytling for actual content of article
 * consider changing based off of chromium/mozilla */

@font-face {
    font-family: LiberationMono; src: url('./fonts/LiberationMono-Bold.ttf');
}

@font-face {
    font-family: HussarBold;
    src: url('./fonts/HussarBold-7mRE.otf');
}

.leafbytes-body {
    opacity: 100%;
}

.leafbytes-fadeout-content {
    opacity: 0%;
    animation: fadeout-leafbytes-content 1s ease-in-out;
}

@keyframes fadeout-leafbytes-content {
    from {
        opacity: 100%;
    }
    to {opacity: 0%;;}
}

.article-entire {
    opacity: 100%;
    animation: article-made-visible 1.5s ease-in-out;
}

@keyframes article-made-visible {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.article-header {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 44, 70, 1);
    font-family: HussarBold;
    font-size: 24px;
    text-align: center;
    width: 80vw;
    margin: 0.5rem auto;
    padding: 0.5rem 0.25rem 0rem 0rem;
    border: 1px solid rgba(0, 44, 70, 1);
    border-radius: 7px 7px 2px 2px;
}

.article-header3 {
    width: 90vw;
    text-align: center;
    font-family: HussarBold;
    font-size: 16px;
    color: rgba(0, 44, 70, 1);
    margin: 0.5rem 0.5rem -1rem 0.5rem;
}

.fade-in-effect {
    position: fixed;
    width: 86%;
    top: 2.65vh;
    /* height: 10rem; */
    height: 15vh;
    background: linear-gradient(rgba(200, 237, 255, 1), rgba(200, 237, 255, 0));
    opacity: 100%;
    animation: fade-in-top 0.75s ease-in-out;
}

@keyframes fade-in-top {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }

}

.article-content {
    font-family: LiberationMono;
    font-size: 16px;
    color: rgba(0, 44, 70, 1);
    margin: 1rem 1rem;
}

.directories {
    font-family: LiberationMono;
    font-size: 16px;
    color: rgba(0, 44, 70, 1);
    margin: 1.25rem 8vw;
}

.portfolio {
    margin-top: 3rem;
}

.directories:hover {
    cursor: pointer;
}

.article-links {
    list-style: none;
    margin: 1rem auto auto -2.5rem;
}

.link-item {
    color: rgba(0, 44, 70, 1);
    background-color: rgba(255, 255, 255, 1);
    opacity: 95%;
    font-weight: 900;
    font-size: 17px;
    width: 60vw;
    padding-top: 0.1rem;
    padding-left: 1rem;
    border: 3px solid rgba(0, 44, 70, 1);
    border-radius: 5px 5px 0px 0px;
    border-top: none;
    border-right: none;
}


.link-item-extension {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    width: 26vw;
    height: 0.85em;
    margin: -0.75rem 0 0 47vw;
    border-radius: 4px 4px 0 0;
}

.folder-extension {
    position: absolute;
    background-color: rgba(0, 44, 70, 1);
    width: 27vw;
    height: 3px;
    margin: -0rem 0 0 46.25vw;
    border: 1px solid rgba(0, 44, 70, 1);
    border-radius: 0px 0px 3px 3px;
}

/* media queries */

/* 320 x 640 */
@media (min-width: 20rem) {
    .article-content {
        margin: 1rem 1rem;
        font-size: 15px;
        font-weight: 600;
    }

    .link-item-extension {
        width: 23vw;
    }
    .folder-extension {
        width: 24vw;
    }
}

/* 360 x 800 */
@media (min-width: 22.5rem) {
    .article-content {
        margin: 1rem 1.25rem;
    }
}

/* widths 630 to 640 (i.e. everything inbetween)*/
@media (min-width: 39rem) {
    .article-content {
        margin: 1rem 2.5rem;
    }
    .link-item-extension {
        margin: -0.75rem 0 0 52vw;
    }
    .folder-extension {
        margin: -0rem 0 0 51.25vw;
    }
}

/* 640 x 320 */
@media (min-width: 40rem) {
    .article-content {
        margin: 1rem 3rem;
    }
    .link-item-extension {
        margin: -0.75rem 0 0 53vw;
    }
    .folder-extension {
        margin: -0rem 0 0 52.25vw;
    }

}

/* 800 x 360 */
@media (min-width: 50rem) {
    .article-content {
        margin: 1rem 3.5rem;
    }
    .link-item-extension {
        margin: -0.75rem 0 0 53vw;
    }
    .folder-extension {
        margin: 0rem 0 0 52.25vw;
    }
}

/* 926 x 428 */
@media (min-width: 57rem) {
    .article-content {
        margin: 1rem 4.5rem;
    }
    .link-item-extension {
        margin: -0.75rem 0 0 54vw;
    }
    .folder-extension {
        margin: 0rem 0 0 53.25vw;
    }
}
